/*
Fonts preloading is done via javascript (in FontLoader.js in the WasmScripts folder)
 to make sure they are loaded very early in the app's life cycle.
*/

.uno-textblock {
	letter-spacing: 1.1em;
}

/* https://github.com/unoplatform/uno/issues/4304 */
@font-face {
	font-family: 'Segoe UI';
	src: local('system-ui'), local('Segoe UI'), local('-apple-system'), local('BlinkMacSystemFont'), local('Inter'), local('Cantarell'), local('Ubuntu'), local('Open Sans'), local('Noto Sans'), local('Helvetica Neue'), local('sans-serif');
}