################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Material.Design/v16
/.vs/Material.Design/DesignTimeBuild
/.vs/VSWorkspaceState.json
/.vs/Uno.Material/v15
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/src/library/Material.Design/obj
/src/samples/Material.Design.Samples/Material.Design.Samples.Droid/obj
/src/samples/Material.Design.Samples/Material.Design.Samples.iOS/obj
/src/samples/Material.Design.Samples/Material.Design.Samples.Droid/Material.Design.Samples.Droid.csproj.user
/src/samples/Material.Design.Samples/Material.Design.Samples.UWP/obj
/src/samples/Material.Design.Samples/Material.Design.Samples.Wasm/obj
