trigger:
  branches:
    include:
      - master
      - stable
      - release/stable/*
      - legacy/*
      - feature/*

  paths:
    include:
    - '/'
    exclude:
    - .github/
    # don't trigger the CI if only docs files are changed
    - doc/*
    - '**/*.md'

pr:
  branches:
    include:
      - master
      - stable
      - release/stable/*
      - legacy/*
      - feature/*

  paths:
    include:
    - '/'
    exclude:
    - .github/
    # don't trigger the CI if only docs files are changed
    - doc/*
    - '**/*.md'

variables:
  # Path where packages (nuget or app packages) will be copied to.
  PackageOutputPath: $(Build.ArtifactStagingDirectory)
  XCODE_ROOT: '/Applications/Xcode_14.3.1.app'
  # For Application.Building.Light optimizations
  IsLightBuild: $[eq(variables['Build.Reason'], 'PullRequest')]

  IsCanaryBranch: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/canaries/')]
  IsReleaseBranch: $[or(eq(variables['Build.SourceBranch'], 'refs/heads/master'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/'), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/'))]

  # ANDROID_NDK_HOME: C:\Microsoft\AndroidNDK64\android-ndk-r16b
  # ANDROID_NDK_PATH: C:\Microsoft\AndroidNDK64\android-ndk-r16b
  # AndroidNdkDirectory: C:\Microsoft\AndroidNDK64\android-ndk-r16b

stages:
- stage: Validations
  displayName: Validations
  jobs:
  - template: build/stage-validations.yml

- stage: Packages
  dependsOn: Validations
  jobs:
  - template: build/stage-build-packages.yml

- stage: Build_Samples
  dependsOn: Validations
  jobs:
    - template: build/stage-build-ios.yml
    - template: build/stage-build-android.yml
    - template: build/stage-build-wasm.yml
    - template: build/stage-build-windows.yml
    - template: build/stage-build-skia-gtk.yml
