trigger:
  branches:
    include:
      - master
      - stable
      - release/stable/*
      - legacy/*
      - feature/*

pr:
  branches:
    include:
      - master
      - stable
      - release/stable/*
      - legacy/*
      - feature/*

variables:
  # Path where packages (nuget or app packages) will be copied to.
  PackageOutputPath: $(Build.ArtifactStagingDirectory)
  XCODE_ROOT: '/Applications/Xcode_16.4.app'
  # For Application.Building.Light optimizations
  IsLightBuild: $[eq(variables['Build.Reason'], 'PullRequest')]

  IsCanaryBranch: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/canaries/')]
  IsReleaseBranch: $[or(eq(variables['Build.SourceBranch'], 'refs/heads/master'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/'), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/'))]

  # ANDROID_NDK_HOME: C:\Microsoft\AndroidNDK64\android-ndk-r16b
  # ANDROID_NDK_PATH: C:\Microsoft\AndroidNDK64\android-ndk-r16b
  # AndroidNdkDirectory: C:\Microsoft\AndroidNDK64\android-ndk-r16b

stages:
- stage: Determine_Changes
  displayName: Determine Changes
  jobs:
  - template: build/stage-determine-changes.yml

- stage: Docs_Validations
  displayName: Docs Validations
  dependsOn: Determine_Changes
  # Trigger this stage when docs files are changed
  condition: and(succeeded(), or(eq(dependencies.Determine_Changes.outputs['evaluate_changes.DetermineChanges.docsOnly'], 'true'), eq(dependencies.Determine_Changes.outputs['evaluate_changes.DetermineChanges.mixedChanges'], 'true')))
  jobs:
  - template: build/stage-docs-validations.yml

- stage: Packages
  displayName: Packages
  dependsOn: Determine_Changes
  # Don't trigger this stage if only docs files are changed
  condition: and(succeeded(), ne(dependencies.Determine_Changes.outputs['evaluate_changes.DetermineChanges.docsOnly'], 'true'))
  jobs:
  - template: build/stage-build-packages.yml

- stage: Build_Samples
  displayName: Build Samples
  dependsOn: Determine_Changes
  # Don't trigger this stage if only docs files are changed
  condition: and(succeeded(), ne(dependencies.Determine_Changes.outputs['evaluate_changes.DetermineChanges.docsOnly'], 'true'))
  jobs:
    - template: build/stage-build-ios.yml
    - template: build/stage-build-android.yml
    - template: build/stage-build-wasm.yml
    - template: build/stage-build-windows.yml
    - template: build/stage-build-skia-gtk.yml

##
## Publishing
##

- stage: Publish_Dev
  displayName: 'Publish - Dev NuGet.org'
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/master'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature')), not(eq(variables['build.reason'], 'PullRequest')))
  dependsOn: Packages
  jobs:
  - template: build/publish/publish-nuget-dev.yml
    parameters:
      vmImage: 'windows-2022'

- stage: Publish_Prod_Dev
  displayName: 'Publish - Prod Uno Dev Feed'
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/'), not(eq(variables['build.reason'], 'PullRequest')))
  dependsOn: Packages
  jobs:
  - template: build/publish/publish-nuget-prod-dev.yml
    parameters:
      vmImage: 'windows-2022'
  
- stage: Publish_Prod_Public
  displayName: 'Publish - Prod NuGet.org'
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/'), not(eq(variables['build.reason'], 'PullRequest')))
  dependsOn: Publish_Prod_Dev
  jobs:
  - template: build/publish/publish-nuget-prod.yml
    parameters:
      vmImage: 'windows-2022'
